# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# VS Code
.vscode/

# Conda
.env
venv/

# Raw dataset only
data/raw/
data/processed/

# Model checkpoints
*.pt
*.pth
*.ckpt

# Training outputs
lightning_logs/
runs/
outputs/

# Misc
.DS_Store